{% extends 'base.html.twig' %}

{% block body %}
<div class="w-full">
    <div class="flex-col justify-center items-center m-14 p-5 border border-gray-300 rounded-lg bg-gray-100">
        <h1 class="text-2xl font-bold mb-4">Formulaire de création de page</h1>

        {{ form_start(form, {'attr': {'class': 'mb-4'}}) }}
        <div class="mb-4">
            {{ form_row(form.Titre, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}}) }}
        </div>
        <label for="content" class="block mb-4 text-lg">La partie édition du site:</label>
        <div class="mb-4">
            {{ form_row(form.Contenu, {'attr': {'class': 'w-full h-40 p-2 border border-gray-300 rounded', 'id': 'editor'}}) }}
        </div>
        <div class="mb-4">
            {{ form_row(form.Image, {'attr': {'class': 'w-full p-2 border border-gray-300 rounded'}}) }}
        </div>
     <button type="submit" onclick="return confirm('Voulez-vous soumettre le formulaire ?')" class="bg-green-500 text-white border-none p-2 rounded cursor-pointer">Envoyer</button>
        {{ form_end(form) }}
    </div>
</div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#page_Contenu',
        height: 400,
        plugins: 'link image code',
        toolbar: 'undo redo | bold italic | link image | code',
    });
</script>
{% endblock %}
