{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="h-screen flex flex-col justify-center place-items-center">
	{{ form_start(form, {'attr': {'class': 'max-w-2xl mx-auto'}}) }}
		<div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
			<h2 class="text-xl font-medium text-gray-900 dark:text-white">Inscrivez-vous</h2>

			<div class = "dark:border-gray-500 dark:placeholder-gray-400 dark:text-white mt-4">
				{{ form_row(form.Email, {
					'attr': {
						'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
						'placeholder': 'name@company.com'
					}
				}) }}
			</div>

			<div class = "mt-4 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
				{{ form_row(form.Password.first, {
					'label': 'Mot de passe',
					'attr': {
						'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
						'placeholder': '••••••••'
					}
				}) }}
			</div>

			<div class = "mt-4 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
				{{ form_row(form.Password.second, {
					'label': 'Confirmation de mot de passe',
					'attr': {
						'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5',
						'placeholder': '••••••••'
					}
				}) }}
			</div>

			<div style="margin-bottom: 1rem;"></div>

			<div class = "mt-4">
				{{ form_row(form.submit, {
					'attr': {
						'class': 'w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
					}
				}) }}
			</div>
			<div class="text-sm font-medium text-gray-500 dark:text-gray-300">
				Vous avez déjà un compte? <a href="/connexion" class="text-blue-700 hover:underline dark:text-blue-500">Connectez-vous</a>
			</div>

		</div>
	{{ form_end(form) }}
</div>
{% endblock %}